<div class=" login-Page p-0 d-flex rounded login">




    <div class="w-50   transparent-bg ">
        <div id="carouselExampleDark" class="rounded  carousel carousel-light slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://aws-day1-practice4.s3.ap-south-1.amazonaws.com/loginpageslideimage/first.jpg" class="slider-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <div class="">
                    <div class="row">
                      <div class="col">
                        <div class="">
                          <div class="">
                            <p class="h4 my-3 text-light ">Sign up/Login now to</p>
                          </div>
                          <ul class="list-group list-group-flush d-flex flex-column gap-5 ">
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-plane"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Lock Flight Prices &amp; Pay Later</p>
                                </div>
                              </div>
                            </li>
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-hotel"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Book Hotels @ ₹0</p>
                                </div>
                              </div>
                            </li>
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-train"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Get 3X refund, if your waitlisted train doesn’t get confirmed</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="https://aws-day1-practice4.s3.ap-south-1.amazonaws.com/loginpageslideimage/secound.jpg" class="slider-img" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <div class="">
                    <div class="row">
                      <div class="col">
                        <div class="">
                          <div class="">
                            <p class="h4 my-3 text-light ">Sign up/Login now to</p>
                          </div>
                          <ul class="list-group list-group-flush d-flex flex-column gap-5 ">
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-plane"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Lock Flight Prices &amp; Pay Later</p>
                                </div>
                              </div>
                            </li>
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-hotel"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Book Hotels @ ₹0</p>
                                </div>
                              </div>
                            </li>
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-train"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Get 3X refund, if your waitlisted train doesn’t get confirmed</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item  " data-bs-interval="1000">
                <div class="rounded">

                
                <img src="https://aws-day1-practice4.s3.ap-south-1.amazonaws.com/loginpageslideimage/third.webp" class="slider-img" alt="...">
              </div>
                <div class="carousel-caption d-none d-md-block">
                  <div class="">
                    <div class="row">
                      <div class="col">
                        <div class="">
                          <div class="">
                            <p class="h4 my-3 text-light ">Sign up/Login now to</p>
                          </div>
                          <ul class="list-group list-group-flush d-flex flex-column gap-5 ">
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-plane"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Lock Flight Prices &amp; Pay Later</p>
                                </div>
                              </div>
                            </li>
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-hotel"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Book Hotels @ ₹0</p>
                                </div>
                              </div>
                            </li>
                            <li class="border p-2 m-1">
                              <div class="d-flex align-items-center">
                                <span class="me-3">
                                  <span class="rounded-circle bg-transparent text-white p-2">
                                    <i class="fas fa-train"></i>
                                  </span>
                                </span>
                                <div>
                                  <p class="h6 mb-0 text-white">Get 3X refund, if your waitlisted train doesn’t get confirmed</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
           
          </div>
    </div>
    <div class="w-50 px-2 d-flex flex-column justify-content-between ">


        <form class="mt-5" [formGroup]="userData">
            <div [ngSwitch]="Area">

                <div class="mb-3" *ngSwitchCase="1">
                    <label for="email" class="form-label h5 text-secondary">Email address*</label>
                    <input type="email" class="form-control" formControlName="Email" placeholder="Enter email">
                    <div class="text-danger" *ngIf="Email?.touched || Email?.dirty">

                        <small *ngIf="Email?.errors?.['required']">
                          *Please Email address
                        </small>
                        <small *ngIf="Email?.errors?.['email']">
                            *Email address is Not Valid
                          </small>
                     </div>
                    
                </div>

                <div class="mb-3" *ngSwitchCase="2">
                    <label for="email" class="form-label h6">Please enter the one time password
                        to verify your account</label>
                    <div class="d-flex px-3 text-center">
                        <input type="text"   formControlName="Otp" class="form-control text-center" placeholder="- - - -">

                    </div>
                </div>
                <div class="text-center mt-3 "  *ngSwitchCase="1">
                    <button type="submit" class=" signUp btn text-light w-100" data-bs-toggle="modal"
                         (click)="changeArea(2)" [disabled]="!this.Email?.valid">CONTINUE</button>
                
                </div>
                <div class="text-center mt-3 p-1" *ngSwitchCase="2">
                    <button type="submit" class=" signUp btn text-light w-100" data-bs-toggle="modal"
                         (click)="changeArea(3)" [disabled]="!this.Otp?.valid">Verify</button>
<span *ngIf="otpFlag" class="small text-danger">*OTP is Invalid</span>
                        <div class="text-end fs-5 text-danger" *ngIf="minutes !=0 || seconds!=0 "> <span class=" text-secondary ">Resend OTP in</span>  {{minutes}}:{{seconds}}</div>
                        <div class="text-end fs-5 text-primary " *ngIf="minutes==0 && seconds==0 " (click)="changeArea(2)">Resend OTP</div>
                </div>
            </div>




            <!-- <div class="text-center">
               
                <p class="text-center fs-6">Or Login/Signup With
                     </p>

                    
                     <i (click)="ChangeLogin()" class="p-3 border rounded-circle bg-light fa-sharp fa-solid fa-phone" style="color: #15d54f;"></i>
            </div> -->
        </form>
      
        <div class="">
           
            <p class="small">By proceeding, you agree to MakeMyTrip's  Privacy Policy, <a href="">User Agreement and T&Cs</a></p>
        </div>


    </div>

</div>

  
