<div class=" p-0 d-flex">




    <div class="w-50">
        <img src="https://res.cloudinary.com/drljda4ci/image/upload/v1685364969/MakeMyTrip/smiley-woman-posing-her-baggage_23-2148521314_je4ujn.avif"
            alt="Card Image" class="w-100">
    </div>
    <div class="w-50 px-2 d-flex flex-column justify-content-between ">


        <form class="mt-5" [formGroup]="userData">
            <div [ngSwitch]="Area">

                <div class="mb-3" *ngSwitchCase="1">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" formControlName="Email" placeholder="Enter email">
                    <div class="text-danger" *ngIf="Email?.touched || Email?.dirty">

                        <small *ngIf="Email?.errors?.['required']">
                          *Please Email address
                        </small>
                        <small *ngIf="Email?.errors?.['email']">
                            *Email address is Not Valid
                          </small>
                     </div>
                    
                </div>

                <div class="mb-3" *ngSwitchCase="2">
                    <label for="email" class="form-label h6">Please enter the one time password
                        to verify your account</label>
                    <div class="d-flex px-3 text-center">
                        <input type="text"   formControlName="Otp" class="form-control text-center" placeholder="- - - -">

                    </div>
                </div>
                <div class="text-center mt-3 "  *ngSwitchCase="1">
                    <button type="submit" class=" signUp btn text-light w-100" data-bs-toggle="modal"
                         (click)="changeArea(2)" [disabled]="!this.Email?.valid">CONTINUE</button>
                
                </div>
                <div class="text-center mt-3 p-1" *ngSwitchCase="2">
                    <button type="submit" class=" signUp btn text-light w-100" data-bs-toggle="modal"
                         (click)="changeArea(3)" [disabled]="!this.Otp?.valid">Verify</button>

                        <div class="text-end fs-5 text-danger" *ngIf="minutes !=0 || seconds!=0 "> <span class=" text-secondary ">Resend OTP in</span>  {{minutes}}:{{seconds}}</div>
                        <div class="text-end fs-5 text-primary " *ngIf="minutes==0 && seconds==0 " (click)="changeArea(2)">Resend OTP</div>
                </div>
            </div>




            <div class="text-center">
               
                <p class="text-center fs-6">Or Login/Signup With
                     </p>

                    
                     <i (click)="ChangeLogin()" class="p-3 border rounded-circle bg-light fa-sharp fa-solid fa-phone" style="color: #15d54f;"></i>
            </div>
        </form>
      
        <div class="">
           
            <p class="">By proceeding, you agree to MakeMyTrip's  Privacy Policy, <a href="">User Agreement and T&Cs</a></p>
        </div>


    </div>

</div>