<div>
    <app-navbar></app-navbar>
</div>
<div class="d-flex ">

    <div class="container">
        <div class="row">
          <div class="col">
            <h4>New Delhi → Bengaluru</h4>
            <p>Sunday, Jul 16</p>
            <p>Non Stop · 2h 45m</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-danger">CANCELLATION FEES APPLY</p>
            <p><a href="#">View Fare Rules</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>IndiGo</h5>
            <p>6E 6565</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Economy > MMTSPECIAL</p>
            <p>22:55</p>
            <p>New Delhi . Indira Gandhi International Airport, Terminal 1</p>
            <p>2h 45m</p>
            <p>01:40</p>
            <p>Bengaluru . Bengaluru International Airport, Terminal 1</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Baggage</h5>
            <p>Check-in: 15 Kgs (1 piece only) + purchased</p>
            <p>Cabin: 7 Kgs (1 piece only)</p>
            <p>15 KG of extra baggage added on your trip for Rs. 6750! Total check-in baggage is now 30 KG (1 piece).</p>
          </div>
        </div>
      </div>
      <div>
        hiii
        <app-payment-detail></app-payment-detail>
      </div>
</div>
  