.dooted-border{
    border-style: dashed;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    /* border-left:  ;  */
    height: 50px;

    /* border: none; */
}
.payment{
    height: fit-content;
}


.test{
    margin-top: -40px;
    z-index: 0;
}