<div class=" bg-blueDark">
    <nav class="navbar navbar-expand-lg navbar-dark">

        <div class=" container-fluid lg-mx-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink=""><img
                    src="https://res.cloudinary.com/drljda4ci/image/upload/v1685688218/download_vzeuoh.png" alt="Logo"
                    height="50"></a>
            <div class="bg-lg-white  collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="d-none d-lg-block navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a data-bs-toggle="modal" href="#exampleModalToggle" role="button"
                            class="  text-white nav-link active signUp" aria-current="page">
                            <img class="" width="30px"
                                src="https://res.cloudinary.com/drljda4ci/image/upload/v1686721035/Group_1_kc5k06.svg"
                                alt="">

                            Login or Create Account </a>
                    </li>

                </ul>

                <ul class=" px-2 bg-light rounded  navbar-nav text-black d-lg-none w-75 border bg-white">
                    <li class=" p-2
 nav-md-link ">
                        <i class=" fa-solid fa-user fs-3"></i>

                        login/Sign-up now
                    </li>
                    <li class="nav-md-link">
                        <i class="fa-solid fa-suitcase fs-3"></i>
                        View/Manage Trips
                    </li>
                    <li class="nav-md-link">
                        <i class="fa-solid fa-gift fs-3"></i>
                        Gift Card
                    </li>

                    <li class="nav-md-link border-top-2">
                        <i class="fs-3 fa-solid fa-plane" style="color: #0e49af;"></i>
                        Flight
                    </li>
                    <li class="nav-md-link">
                        <i class="fs-3 fa-solid fa-hotel" style="color: #8c068e;"></i>
                        Hotel
                    </li>
                    <li class="nav-md-link">
                        <i class="fs-3 fa-solid fa-train" style="color: #c18606;"></i>
                        Trains
                    </li>

                    <li>
                        <p class="text-primary mt-1">User Agreement</p>
                    </li>
                    <li>
                        <p class="text-primary mt-1">Privacy Policy</p>
                    </li>
                    <li>
                        <p class="text-primary mt-1">Terms of Service</p>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <div class="mt-5">
        <app-search></app-search>
    </div>
</div>

<div class="row bg-gray p-1 mx-auto">
    <div class="col  accordion accordion-flush bg-gray" id="accordionFlushExample">
        <div class="accordion-item  mt-1">
            <p class=" " id="flush-headingOne">
                <button class="accordion-button   collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Q - Why MakeMy Trip
                </button>
            </p>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>
                        A: You can book a flight on MakeMyTrip in five easy steps:Head over to the MakeMyTrip flight
                        booking page , Enter your departure and arrival destinations, Select your air travel dates,
                        Choose from our wide range of flights based on your airfare preferences, Click on ‘Book Now’ and
                        your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your
                        flight ticket booking. Download the MakeMyTrip , Put in the details i.e. date of journey,
                        departure and arrival destinations, travel class of your choice, Select on your best comfortable
                        option and click on 'Book Now'.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item  mt-1">
            <p class="" id="flush-headingTwo">
                <button class="accordion-button   collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Q - Domestic flight offers on MakeMyTrip??
                </button>
            </p>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>
                        A: You can book a flight on MakeMyTrip in five easy steps:Head over to the MakeMyTrip flight
                        booking page , Enter your departure and arrival destinations, Select your air travel dates,
                        Choose from our wide range of flights based on your airfare preferences, Click on ‘Book Now’ and
                        your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your
                        flight ticket booking. Download the MakeMyTrip , Put in the details i.e. date of journey,
                        departure and arrival destinations, travel class of your choice, Select on your best comfortable
                        option and click on 'Book Now'.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col accordion accordion-flush bg-gray" id="accordionFlushExample">
        <div class="accordion-item  mt-1">
            <p class="" id="flush-headingOne">
                <button class="accordion-button   collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Q - flight booking offers </button>
            </p>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>
                        A: You can book a flight on MakeMyTrip in five easy steps:Head over to the MakeMyTrip flight
                        booking page , Enter your departure and arrival destinations, Select your air travel dates,
                        Choose from our wide range of flights based on your airfare preferences, Click on ‘Book Now’ and
                        your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your
                        flight ticket booking. Download the MakeMyTrip , Put in the details i.e. date of journey,
                        departure and arrival destinations, travel class of your choice, Select on your best comfortable
                        option and click on 'Book Now'.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item  mt-1">
            <p class="" id="flush-headingTwo">
                <button class="accordion-button   collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Q - How can I avail budget air tickets on MakeMyTrip?
                </button>
            </p>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>
                        A: You can book a flight on MakeMyTrip in five easy steps:Head over to the MakeMyTrip flight
                        booking page , Enter your departure and arrival destinations, Select your air travel dates,
                        Choose from our wide range of flights based on your airfare preferences, Click on ‘Book Now’ and
                        your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your
                        flight ticket booking. Download the MakeMyTrip , Put in the details i.e. date of journey,
                        departure and arrival destinations, travel class of your choice, Select on your best comfortable
                        option and click on 'Book Now'.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>







<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-body p-0">




               <app-login></app-login>

            </div>
            <!-- <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
            </div> -->
        </div>
    </div>
</div>