<h1>{{"Flight From " + search.from.city + " To " + search.to.city}}</h1>
<!-- <p>{{modifiedData.dep|json}}</p> -->

<div *ngIf="modifiedData && modifiedData.dep">
    <div class="shadow d-flex justify-content-between align-items-center" *ngFor="let d of modifiedData.dep; let item=index">

        
            <div class="d-flex gap-2">
                <img class="logo" [src]="d.airline?.logo" alt="airlineLogo">
                <div>
                    <p class="d-flex">{{d.airline?.name}}</p>
                    <small>{{d.flightNumber}}</small>
                </div>
            </div>
            
                <div>
                    <p>{{d.arrivalTime | date:'HH:mm'}}</p>
                    <small>{{this.search.from.city}}({{this.search.from.airportCode}})</small>
                </div>
                <div>
                    <p class="text-secondary">{{d.duration}}</p>
                    <p class="line w-100 h-1"></p>
                    <small class="text-secondary">Non Stop</small>
                </div>
                <div>
                    <p>{{d.departureTime | date:'HH:mm'}}</p>
                    <small>{{this.search.to.city}}({{this.search.to.airportCode}})</small>
                </div>
                <div>
                    <p>{{d.price + d.surcharges | currency:'INR'}}</p>
                    <small class="text-secondary">per traveler</small>
                </div>
                <div>
                    <input type="radio" name="dep" (change)="addToBook(d, undefined)">
                </div>
            
        

        
        <div>
            <div [id]="'collapse' + item" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + item">
                <div class="accordion-body">
                    <app-journey-detail [flightDetail]="FlightDetail"></app-journey-detail>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modifiedData && modifiedData.ren">
    <div class="shadow " *ngFor="let d of modifiedData.ren; let item=index">

        <div [ngClass]="{'d-flex align-items-center gap-3': modifiedData && !modifiedData.ren}">
            <div class="d-flex gap-2">
                <img class="logo" [src]="d.airline?.logo" alt="airlineLogo">
                <div>
                    <p class="d-flex">{{d.airline?.name}}</p>
                    <small>{{d.flightNumber}}</small>
                </div>
            </div>
            <div class="d-flex justify-content-between  align-items-center">
                <div>
                    <p>{{d.arrivalTime | date:'HH:mm'}}</p>
                    <small>{{this.search.from.city}}({{this.search.from.airportCode}})</small>
                </div>
                <div>
                    <p class="text-secondary">{{d.duration}}</p>
                    <p class="line w-100 h-1"></p>
                    <small class="text-secondary">Non Stop</small>
                </div>
                <div>
                    <p>{{d.departureTime | date:'HH:mm'}}</p>
                    <small>{{this.search.to.city}}({{this.search.to.airportCode}})</small>
                </div>
                <div>
                    <p>{{d.price + d.surcharges | currency:'INR'}}</p>
                    <small class="text-secondary">per traveler</small>
                </div>
                <div>
                    <input type="radio" name="" id="" (change)="addToBook(undefined, d)">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end" (click)="flightDetail(d)">
            <a data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + item" aria-expanded="true"
                [attr.aria-controls]="'collapse' + item" class="text-primary">
                Flight Details
            </a>
        </div>
        <div>
            <div [id]="'collapse' + item" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + item">
