.line{
    padding: 1px;
    background-color: rgb(13, 240, 81);
}

.book-btn{
    color: rgb(17, 110, 232);
    background-color:   rgba(17, 110, 232, 0.408);

    border: 2px  rgb(5, 72, 159);
}

input[type="radio"] {
   
    transform: scale(2.0);
  }

.bg-new{
    background-color: #b9daf0;
}