<div class="container">
    <div class="row">
      <div class="col">
        <h6>Time Frame</h6>
        <p>(From Scheduled flight departure)</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">Airline Fee + MMT Fee</p>
        <p>(Per passenger)</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">0 hours to 2 hours*</p>
        <p>ADULT : Non Refundable</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">2 hours to 3 days*</p>
        <p>ADULT : ₹ 3,600 + ₹ 300</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">3 days to 365 days*</p>
        <p>ADULT : ₹ 3,100 + ₹ 300</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>*From the Date of Departure</p>
      </div>
    </div>
  </div>
  