<div class="container">
    <div class="row">
      <div class="col">
        <h6>Fare Breakup</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">TOTAL</p>
        <p class="fs-4">₹{{flightDetail.price+flightDetail.surcharges}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">Base Fare</p>
        <p class="fs-5">₹ {{flightDetail.price}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">Surcharges</p>
        <p class="fs-5">₹ {{flightDetail.surcharges}}</p>
      </div>
    </div>
  </div>
  