































<div *ngIf="this.loader.getLoading()" class="cssload-container">
    <!-- <div class="cssload-speeding-wheel"></div> -->
    <!-- <div class="loader"></div> -->

    <div class="airplaneAnimation">
      <div class="plane">
      <div class="main"></div>
      <div class="wingOne"></div>
      <div class="wingTwo"></div>
      <div class="pollution"></div>
      </div>
      <div class="clouds">
        <div class="cloudOne"></div>
        <div class="cloudTwo"></div>
        <div class="cloudThree"></div>
        
      </div>
    </div>
</div>

