<h1 class="bg-white p-2 rounded shadow">
  Choose The Seats
</h1> 
<div class="bg-white d-flex justify-content-around align-items-center">
<div class="d-flex justify-content-center m-2  flex-column  h-100">
   <p><span class="bg-gray px-3 py-2 border">Al</span></p>
  </div>

<div class="plane   px-4">
  
    <div class="cockpit">
      
        
          
    </div>
    <div class="fuselage">
      <div>
        <p><span></span></p>
      </div>
        <div *ngFor="let seatClass of data.journey.seatStature" class="mb-4">
    
           
                <div class="d-flex" *ngFor="let row of generateRange(seatClass.rowsStart, seatClass.rowsEnd)">
                  <ng-container *ngFor="let column of generateAlphabetRange(seatClass.columnsStart, seatClass.columnsEnd); let columnIndex = index">

                    
                    <p *ngIf="AlreadyBooked(row+''+column)" [ngClass]="{ 'selected-seat': isSeatSelected(row, column) }" (click)="onSeatClick(row, column)" class="bg-success text-white seat rounded p-2 ">
                       {{ row }}{{ column }}
                    </p>
                    <p *ngIf="!AlreadyBooked(row+''+column)" class="seat rounded p-2 bg-gray ">
                        {{ row }}{{ column }}
                    </p>
                    <p *ngIf=" columnIndex ==2" class="px-2"></p>
                  </ng-container>
                </div>
             
          </div>
    </div>
    
   
      
 
  </div>
</div>

<div  class="bg-white mt-2 p-2">
  <button  type="button" class="btn  bg-lightBlue " (click)="Continue()"   >Continue <i class="fa-solid fa-lock"></i></button>
</div>


