
<app-navbar></app-navbar>
<div class="header1 text-secondary">

    <h2>Flight Information</h2>
</div>


    <div class="d-flex justify-content-center gap-4">
    <div class="details shadow m-2 p-3">
      <p *ngIf="data1.prnNo"><strong>Flight Number:</strong> {{ data1.prnNo }}</p>
      <p><strong>Airline:</strong> {{ data1.airline.name }}</p>
      <p><strong>From:</strong> {{ data1.fromAirport.city }}</p>
      <p><strong>To:</strong> {{ data1.toAirport.city }}</p>
      <p><strong>Date:</strong> {{ data1.date }}</p>
      <p><strong>Total Cost:</strong> {{ data1.total }}</p>
    </div>
  
  
  <div class="  m-2 ">
    <h3>Passenger Details</h3>
    <div  *ngFor="let p of data1.passengers" class="passenger-details shadow p-3 m-3">
      <p><strong>Name:</strong> {{ p.name }}</p>
      <p><strong>Gender:</strong> {{ p.gender }}</p>
      <p><strong>Seat No:</strong> {{ p.seat }}</p>
    </div>
  </div>
</div>

