<div class="container">
    <div class="row">
      <div class="col">
        <h4>Fare Summary</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">Base Fare</p>
        <p>₹ {{data.journey.price-data.journey.Surcharges}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">Taxes and Surcharges</p>
        <p>₹ {{data.journey.Surcharges}}</p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <p class="fw-bold">Discounts</p>
        <p>- ₹ 895</p>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <p class="fw-bold">Total Amount</p>
        <p>₹ {{data.journey.price}}</p>
      </div>
    </div>
  </div>
  