<div class="d-flex justify-content-between flex-column gap-5   payment">
    <div class="row">
      <div class="col d-flex justify-content-lg-between">
        <h4>Fare Summary</h4>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-lg-between">
        <p class="fw-bold"><i class="fa-solid fa-circle-plus"></i>Base Fare</p>
        <p>₹ {{data.journey.price-data.journey.surcharges}}</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-lg-between">
        <p class="fw-bold"><i class="fa-solid fa-circle-plus"></i>Taxes and Surcharges</p>
        <p>₹ {{data.journey.surcharges}}</p>
      </div>
      <hr>
    </div>
    <!-- <div class="row">
      <div class="col d-flex justify-content-lg-between">
        <p class="fw-bold">Discounts</p>
        <p>- ₹ 895</p>
      </div>
    </div> -->
    <div class="row">
      <div class="col d-flex justify-content-lg-between">
        <p class="fw-bold  h4">Total Amount</p>
        <p class="fw-bold  h4">₹ {{data.journey.price}}</p>
      </div>
    </div>
  </div>
  


  