<!-- <div class="d-lg-flex justify-content-evenly  bg-dark p-4">

    <div class="d-none  d-lg-block">
        <i class="fa-brands mx-3 fs-1 fa-twitter text-light"></i>
        <i class="fa-brands mx-1 fs-1 fa-facebook-f" style="color: #ffffff;"></i>
    </div>
    <div class="text-white">
        <h4>
            © 2023 MAKEMYTRIP PVT. LTD.
        </h4>
        <h6>
            Country India USA UAE
        </h6>
    </div>




</div> -->


<footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h5>MakeMyTrip</h5>
          <p class="text-muted">Your travel companion</p>
          <p class="text-muted">123 Street, City, Country</p>
          <p class="text-muted">Email: info@example.com</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5>Explore</h5>
          <ul class="list-unstyled">
            <li><a href="#">Flights</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Holiday Packages</a></li>
            <li><a href="#">Trains</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5>Customer Support</h5>
          <ul class="list-unstyled">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5>Subscribe to Our Newsletter</h5>
          <form>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Enter your email">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
  







<!-- //responsive// -->
<div class="fixed-bottom bg-dark py-3  d-lg-none">
    <ul class="d-flex justify-content-evenly  ">
        <li class="nav-link-bottom">
            <a class="" [routerLink]="['/flight/home']" routerLinkActive="router-link-active">
                <i class="fa-solid fa-plane-departure"></i> Flights
            </a>
        </li>


        <li class="nav-link-bottom">
            <a class="" [routerLink]="['/flight']" routerLinkActive="router-link-active">
                <i class="fa-solid fa-train"></i>
                Trains
            </a>
        </li>
        <li class="nav-link-bottom">
            <a class="" [routerLink]="['/flight']" routerLinkActive="router-link-active">
                <i class="fa-solid fa-hotel"></i>
                Hotels
            </a>
        </li>


    </ul>


</div>