
.position-search{
    /* position: fixed;
    bottom: 5%;
    right: 25%;
    left: 25%;
    min-width: fit-content; */
    position: fixed;
    bottom: 10px;
    max-width: 900px;
    min-width: 650px;
    z-index: 12;
   
   
    right:20%;
   background-color: rgb(10 34 61);

}

.booking-card{
    width: 23vw;
    background-color: #0000002c;
}

