


<div class="  ">

<div >

    <app-navbar></app-navbar>
</div>
<div class="  ">
    <div class="     ">

        <router-outlet></router-outlet>
    </div>
    <div class=" mar my-2 d-flex justify-content-center gap-2 bg-custom1  w-100 ">
        <div class="col-11 col-lg-3">
            
            <app-filter (filterEmitter)="filterData($event)" ></app-filter>
        </div>
        <div class="col-11 col-lg-7" >
    <div *ngIf="filteredData" >
        
        <app-journey-data  [modifiedData]="filteredData" ></app-journey-data>
    </div>
            <div *ngIf="filteredData.length<1">
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <h4>Data Not Found</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p>We're sorry, but the requested data could not be found.</p>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
</div>



<div class=" ">

    <app-footer></app-footer> 
</div>
</div>





