


<div class="  ">

<div >

    <app-navbar></app-navbar>
</div>
<div class=" bg-custom2 ">
    <div class="     ">

        <app-search-result (SearchEmitter)="getAirports()"></app-search-result>
    </div>
    <div class="   my-2 d-flex justify-content-center gap-4   ">
        <div class="filter-postion">
            
            <app-filter [filterData]="filterData1" [returnFlag]="returnFlag" (filterEmitter)="filterData($event)" ></app-filter>
        </div>
        <div class="" >
    <div  >
        
            <div class="">

                <app-journey-data  [modifiedData]="filteredData" (AddToBook)="addToBook($event)" ></app-journey-data>
            </div>
    </div>
            
        </div>
    </div>
</div>



<div class=" ">

    <app-footer></app-footer> 
</div>


</div>

<div class=" p-3 rounded  position-search mx-auto  d-flex justify-content-between bg-blue  gap-3   " *ngIf="currentJourneyDeP || currentJourneyRen">
    <div class="booking-card rounded p-2"   *ngIf="this.data.dep && currentJourneyDeP">
        <div class="my-2">
            <p><span class="h5">Departure . </span>{{currentJourneyDeP.airline?.name}}</p>
        </div>
        <div class="d-flex justify-content-evenly   ">
        
            <!-- <div class=" d-flex mb-2 ">
                <img class=" logo  " [src]="currentJourneyDeP.airline?.logo" alt="airlineLogo">  
                </div> -->
            
            <div class="d-flex align-items-center gap-2 me-3">
                <p class="h5">{{currentJourneyDeP.arrivalTime|date:'shortTime' }}</p><i class="fa-solid fa-arrow-right" style="color: #f5f5f5;"></i><p class="h5">{{currentJourneyDeP.departureTime|date:'shortTime' }}</p>
                
            </div>
            
            <div>
                <p class="h5">{{currentJourneyDeP.price+currentJourneyDeP.surcharges|currency:'INR'}}</p>
                
            </div>
        </div>
    </div>
    <div class="booking-card rounded p-2" *ngIf="this.data.ren && currentJourneyRen">
        <div class="my-2">
            <p><span class="h5">Return . </span>{{currentJourneyRen.airline?.name}}</p>
        </div>
        <div class="d-flex justify-content-evenly   ">
        
            <div class=" d-flex mb-2 ">
                <!-- <img class=" logo  " [src]="currentJourneyRen.airline?.logo" alt="airlineLogo">  
                </div> -->
            
            <div class="d-flex align-items-center gap-2 me-3">
                <p class="h5">{{currentJourneyRen.arrivalTime|date:'shortTime' }}</p><i class="fa-solid fa-arrow-right" style="color: #f5f5f5;"></i><p class="h5">{{currentJourneyRen.departureTime|date:'shortTime' }}</p>
                
            </div>
            
            <div>
                <p class="h5">{{currentJourneyRen.price+currentJourneyRen.surcharges|currency:'INR'}}</p>
                
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center flex-column gap-2">

    <button class=" align-self-center bg-lightBlue  btn h6 py-1 px-3 m-2" (click)="addToReview()" [disabled]="(this.data.ren && !currentJourneyRen) || !currentJourneyDeP " >Book Now</button>
    <a class=" align-self-center text-danger  " (click)="cancel()" >Cancel</a>
</div>
</div>



