


<div class="  ">

<div >

    <app-navbar></app-navbar>
</div>
<div class="  ">
    <div class="     ">

        <app-search-result (SearchEmitter)="getAirports()"></app-search-result>
    </div>
    <div class=" mar my-2 d-flex justify-content-center gap-2   w-100 ">
        <div class="col-11 col-lg-3">
            
            <app-filter (filterEmitter)="filterData($event)" ></app-filter>
        </div>
        <div class="col-11 col-lg-7" >
    <div  >
        
        <app-journey-data  [modifiedData]="filteredData" ></app-journey-data>
    </div>
            
        </div>
    </div>
</div>



<div class=" ">

    <app-footer></app-footer> 
</div>
</div>





