.mat-slider {
    color: red;
  }

  .filter-card{
border: 1px solid black;
  }
  .mat-button-toggle-group{
    border: none;
    /* display: flex ;
    justify-content: space-around; */
  }
  .mat-button-toggle{
    border: 1px solid rgb(192, 188, 188);
 font-size: 9px;
 padding: 0;
width: fit;
padding: 0 0px;
  }
 
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 0px;
}

.logo{
  width: 50px;
  height: 20px;
}
.filterbody{
  background-color: rgba(11, 130, 248, 0.236);
  width: fit-content;
}


