USE [master]
GO
/****** Object:  Database [BookMyShow]    Script Date: 30-06-2023 18:51:51 ******/
CREATE DATABASE [BookMyShow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookMyShow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\BookMyShow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookMyShow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\BookMyShow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookMyShow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookMyShow]
GO
/****** Object:  Table [dbo].[Airline]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airline](
	[AirlineId] [int] IDENTITY(1,1) NOT NULL,
	[AirlineName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[LastModificationDate] [datetime] NULL,
	[LastModificationId] [int] NULL,
	[AirlineLogo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AirlineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirportData]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirportData](
	[AirportId] [int] NOT NULL,
	[AirportName] [nvarchar](50) NULL,
	[AirportCode] [nvarchar](50) NULL,
	[AddressId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[LastModificationDate] [datetime] NULL,
	[LastModificationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AirportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[FlightId] [int] IDENTITY(1,1) NOT NULL,
	[airlineId] [int] NULL,
	[createdDate] [datetime] NULL,
	[createdId] [int] NULL,
	[LastModificationDate] [datetime] NULL,
	[LastModificationId] [int] NULL,
	[FlightName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FlightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journey]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journey](
	[journeyId] [int] NOT NULL,
	[FlightId] [int] NULL,
	[arrivaltime] [datetime] NULL,
	[departuretime] [datetime] NULL,
	[destinationId] [int] NULL,
	[sourceId] [int] NULL,
	[createdDate] [datetime] NULL,
	[createdId] [int] NULL,
	[LastModificationDate] [datetime] NULL,
	[LastModificationId] [int] NULL,
	[statusFor] [int] NULL,
	[SeatbasicPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[journeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationData]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationData](
	[LocationId] [int] NOT NULL,
	[LocationName] [nvarchar](50) NULL,
	[CountryId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[LastModificationDate] [datetime] NULL,
	[LastModificationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[SeatTypeId] [int] NOT NULL,
	[SeatTypeName] [nvarchar](50) NULL,
	[LocationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusData]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[statusval] [nvarchar](50) NULL,
	[statusFor] [int] NULL,
	[createdDate] [datetime] NULL,
	[createdId] [int] NULL,
	[LastModificationDate] [datetime] NULL,
	[LastModificationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30-06-2023 18:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](50) NULL,
	[UserEmail] [nvarchar](100) NULL,
	[UserAddress] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[LastLoginDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
	[LastModificationId] [int] NULL,
	[RoleId] [int] NULL,
	[UserOtp] [int] NULL,
	[UserOtpDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Airline] ON 

INSERT [dbo].[Airline] ([AirlineId], [AirlineName], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId], [AirlineLogo]) VALUES (1, N'Air India', CAST(N'2023-06-03T14:51:03.157' AS DateTime), 1, CAST(N'2023-06-03T14:51:03.157' AS DateTime), 1, N'https://aws-day1-practice4.s3.ap-south-1.amazonaws.com/img/AirAsia.png')
INSERT [dbo].[Airline] ([AirlineId], [AirlineName], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId], [AirlineLogo]) VALUES (2, N'IndiGo', CAST(N'2023-06-03T14:51:03.157' AS DateTime), 1, CAST(N'2023-06-03T14:51:03.157' AS DateTime), 1, N'https://aws-day1-practice4.s3.ap-south-1.amazonaws.com/img/indigo.png')
INSERT [dbo].[Airline] ([AirlineId], [AirlineName], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId], [AirlineLogo]) VALUES (3, N'SpiceJet', CAST(N'2023-06-03T14:51:03.157' AS DateTime), 1, CAST(N'2023-06-03T14:51:03.157' AS DateTime), 1, N'https://aws-day1-practice4.s3.ap-south-1.amazonaws.com/img/SpiceJet.png')
SET IDENTITY_INSERT [dbo].[Airline] OFF
GO
INSERT [dbo].[AirportData] ([AirportId], [AirportName], [AirportCode], [AddressId], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId]) VALUES (1, N'Chhatrapati Shivaji Maharaj International Airport', N'BOM', 16, CAST(N'2023-06-01T18:33:17.837' AS DateTime), 1, CAST(N'2023-06-01T18:33:17.837' AS DateTime), 1)
INSERT [dbo].[AirportData] ([AirportId], [AirportName], [AirportCode], [AddressId], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId]) VALUES (2, N'Indira Gandhi International Airport', N'DEL', 2, CAST(N'2023-06-01T18:33:17.837' AS DateTime), 1, CAST(N'2023-06-01T18:33:17.837' AS DateTime), 1)
INSERT [dbo].[AirportData] ([AirportId], [AirportName], [AirportCode], [AddressId], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId]) VALUES (3, N'Kempegowda International Airport', N'BLR', 3, CAST(N'2023-06-01T18:33:17.837' AS DateTime), 1, CAST(N'2023-06-01T18:33:17.837' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Flight] ON 

INSERT [dbo].[Flight] ([FlightId], [airlineId], [createdDate], [createdId], [LastModificationDate], [LastModificationId], [FlightName]) VALUES (1, 1, CAST(N'2023-06-03T15:02:59.257' AS DateTime), 1, CAST(N'2023-06-03T15:02:59.257' AS DateTime), 1, NULL)
INSERT [dbo].[Flight] ([FlightId], [airlineId], [createdDate], [createdId], [LastModificationDate], [LastModificationId], [FlightName]) VALUES (2, 2, CAST(N'2023-06-03T15:02:59.257' AS DateTime), 1, CAST(N'2023-06-03T15:02:59.257' AS DateTime), 1, NULL)
INSERT [dbo].[Flight] ([FlightId], [airlineId], [createdDate], [createdId], [LastModificationDate], [LastModificationId], [FlightName]) VALUES (3, 5, CAST(N'2023-06-03T15:02:59.257' AS DateTime), 1, CAST(N'2023-06-03T15:02:59.257' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Flight] OFF
GO
INSERT [dbo].[Journey] ([journeyId], [FlightId], [arrivaltime], [departuretime], [destinationId], [sourceId], [createdDate], [createdId], [LastModificationDate], [LastModificationId], [statusFor], [SeatbasicPrice]) VALUES (1, 3, CAST(N'2023-06-01T10:00:00.000' AS DateTime), CAST(N'2023-06-01T12:00:00.000' AS DateTime), 1, 2, CAST(N'2023-06-11T16:14:32.673' AS DateTime), 1, CAST(N'2023-06-03T16:14:32.673' AS DateTime), 1, 2, CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[Journey] ([journeyId], [FlightId], [arrivaltime], [departuretime], [destinationId], [sourceId], [createdDate], [createdId], [LastModificationDate], [LastModificationId], [statusFor], [SeatbasicPrice]) VALUES (2, 2, CAST(N'2023-06-02T15:00:00.000' AS DateTime), CAST(N'2023-06-02T17:00:00.000' AS DateTime), 3, 4, CAST(N'2023-06-11T16:14:32.673' AS DateTime), 2, CAST(N'2023-06-03T16:14:32.673' AS DateTime), 2, 2, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[Journey] ([journeyId], [FlightId], [arrivaltime], [departuretime], [destinationId], [sourceId], [createdDate], [createdId], [LastModificationDate], [LastModificationId], [statusFor], [SeatbasicPrice]) VALUES (3, 1, CAST(N'2023-06-03T08:00:00.000' AS DateTime), CAST(N'2023-06-03T10:00:00.000' AS DateTime), 2, 1, CAST(N'2023-06-11T16:14:32.673' AS DateTime), 1, CAST(N'2023-06-03T16:14:32.673' AS DateTime), 1, 2, CAST(18000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[LocationData] ([LocationId], [LocationName], [CountryId], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId]) VALUES (1, N'India', NULL, CAST(N'2023-06-01T18:31:41.087' AS DateTime), 1, CAST(N'2023-06-01T18:31:41.087' AS DateTime), 1)
INSERT [dbo].[LocationData] ([LocationId], [LocationName], [CountryId], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId]) VALUES (2, N'Delhi', 1, CAST(N'2023-06-01T18:31:41.087' AS DateTime), 1, CAST(N'2023-06-01T18:31:41.087' AS DateTime), 1)
INSERT [dbo].[LocationData] ([LocationId], [LocationName], [CountryId], [CreatedDate], [CreatedId], [LastModificationDate], [LastModificationId]) VALUES (3, N'Bangalore', 1, CAST(N'2023-06-01T18:31:41.087' AS DateTime), 1, CAST(N'2023-06-01T18:31:41.087' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[SeatType] ([SeatTypeId], [SeatTypeName], [LocationId]) VALUES (1, N'Economy', NULL)
INSERT [dbo].[SeatType] ([SeatTypeId], [SeatTypeName], [LocationId]) VALUES (2, N'Business', NULL)
INSERT [dbo].[SeatType] ([SeatTypeId], [SeatTypeName], [LocationId]) VALUES (3, N'First Class', NULL)
GO
SET IDENTITY_INSERT [dbo].[StatusData] ON 

INSERT [dbo].[StatusData] ([id], [statusval], [statusFor], [createdDate], [createdId], [LastModificationDate], [LastModificationId]) VALUES (1, N'Journey', NULL, CAST(N'2023-06-03T16:12:46.877' AS DateTime), 1, CAST(N'2023-06-03T16:12:46.877' AS DateTime), 1)
INSERT [dbo].[StatusData] ([id], [statusval], [statusFor], [createdDate], [createdId], [LastModificationDate], [LastModificationId]) VALUES (2, N'Scheduled', 1, CAST(N'2023-06-03T16:12:46.877' AS DateTime), 1, CAST(N'2023-06-03T16:12:46.877' AS DateTime), 1)
INSERT [dbo].[StatusData] ([id], [statusval], [statusFor], [createdDate], [createdId], [LastModificationDate], [LastModificationId]) VALUES (3, N'On-time', 1, CAST(N'2023-06-03T16:12:46.877' AS DateTime), 1, CAST(N'2023-06-03T16:12:46.877' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[StatusData] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [ImageUrl], [UserEmail], [UserAddress], [PhoneNumber], [CreatedDate], [CreatedId], [LastLoginDate], [LastModificationDate], [LastModificationId], [RoleId], [UserOtp], [UserOtpDate]) VALUES (1, N'AdminUser', N'https://example.com/profile.jpg', N'AdminUser@example.com', N'123 Main St, City, Country', N'1234567890', CAST(N'2023-06-01T18:31:29.200' AS DateTime), 1, CAST(N'2023-06-01T18:31:29.200' AS DateTime), CAST(N'2023-06-01T18:31:29.200' AS DateTime), 1, 1, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Username], [ImageUrl], [UserEmail], [UserAddress], [PhoneNumber], [CreatedDate], [CreatedId], [LastLoginDate], [LastModificationDate], [LastModificationId], [RoleId], [UserOtp], [UserOtpDate]) VALUES (2, NULL, NULL, N'pradumnashelge@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 634379, CAST(N'2023-06-30T17:19:48.550' AS DateTime))
INSERT [dbo].[User] ([UserId], [Username], [ImageUrl], [UserEmail], [UserAddress], [PhoneNumber], [CreatedDate], [CreatedId], [LastLoginDate], [LastModificationDate], [LastModificationId], [RoleId], [UserOtp], [UserOtpDate]) VALUES (3, NULL, NULL, N'shelgepradumna830@gmail', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 134112, CAST(N'2023-06-30T14:21:24.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Airline]  WITH CHECK ADD FOREIGN KEY([CreatedId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Airline]  WITH CHECK ADD FOREIGN KEY([LastModificationId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[AirportData]  WITH CHECK ADD FOREIGN KEY([AddressId])
REFERENCES [dbo].[LocationData] ([LocationId])
GO
ALTER TABLE [dbo].[AirportData]  WITH CHECK ADD FOREIGN KEY([CreatedId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[AirportData]  WITH CHECK ADD FOREIGN KEY([LastModificationId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD FOREIGN KEY([airlineId])
REFERENCES [dbo].[Airline] ([AirlineId])
GO
ALTER TABLE [dbo].[Journey]  WITH CHECK ADD FOREIGN KEY([destinationId])
REFERENCES [dbo].[AirportData] ([AirportId])
GO
ALTER TABLE [dbo].[Journey]  WITH CHECK ADD FOREIGN KEY([FlightId])
REFERENCES [dbo].[Flight] ([FlightId])
GO
ALTER TABLE [dbo].[Journey]  WITH CHECK ADD FOREIGN KEY([sourceId])
REFERENCES [dbo].[AirportData] ([AirportId])
GO
ALTER TABLE [dbo].[Journey]  WITH CHECK ADD FOREIGN KEY([statusFor])
REFERENCES [dbo].[StatusData] ([id])
GO
ALTER TABLE [dbo].[LocationData]  WITH CHECK ADD FOREIGN KEY([CountryId])
REFERENCES [dbo].[LocationData] ([LocationId])
GO
ALTER TABLE [dbo].[LocationData]  WITH CHECK ADD FOREIGN KEY([CreatedId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[LocationData]  WITH CHECK ADD FOREIGN KEY([LastModificationId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[SeatType]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[SeatType] ([SeatTypeId])
GO
ALTER TABLE [dbo].[StatusData]  WITH CHECK ADD FOREIGN KEY([statusFor])
REFERENCES [dbo].[StatusData] ([id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([CreatedId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([LastModificationId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
USE [master]
GO
