You can add global styles to this file, and also import other style files

html, body { height: 100%; 
  
 
  }
  body::-webkit-scrollbar {
    display: none;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg-gray{
    background-color: rgb(226, 228, 230);
    
  }
  .bg-blueDark {
    background-image: linear-gradient(0deg,#15457b,#051423);
    position: relative;
    /* height: 90%; */
    /* clip-path: polygon(100% 0, 100% 87%, 54% 100%, 0 100%, 0 0); */
    }


    .bg-lightBlue{
      background-image: linear-gradient(97deg,#53b2fe,#065af3 130%);
        border-radius: 7px;
        color: white;
         
        }
.bg-blue{
  background-color: #0a223d;
  color: white;
}
        .signUp{
          background-image: linear-gradient(97deg,#53b2fe,#065af3 130%);
          border-radius: 7px;
        }

.text-csblue{
  color: #2a8ce7;
}

.btn-primary{
  color: #2a8ce7;
}

        .mat-button-toggle-group {
          
          padding-right: 3%;
          border: none;
      
        }
        .mat-button-toggle-checked {
         
          background: linear-gradient(to right, #4daff5, #0d6cd1);
          color: white !important;
         
          
        }
        .mat-button-toggle{
         margin: qpx !important;
          border-radius: 7px;
        }

        .bg-custom1{
          /* background: linear-gradient( #0a338c  1%, #ffffff,white);   */
          background-color: rgb(255, 255, 255);
              }

        
              .bg-custom2{
                background-color:#e5eef4
            }
            



        a:hover {
          cursor: pointer;
         color: #002c54 !important;
        }
        a{
          text-decoration: none;
          color: #0d6cd1;
        }

        .logo{
          width: 50px;
          height: 49px;
          display: block;
          background-position: 50%;
          background-size: contain;
          background-repeat: no-repeat;
    
        }
        .logo1{
          width: 25px;
          height: 25px;
          display: block;
          background-position: 50%;
          background-size: contain;
          background-repeat: no-repeat;
    
        }
        p{  
          margin: 0;
        }

        .yellow{

          background-color: rgb(255, 237, 209);
        }  
          