.booking-details-container {
    padding: 20px;
  
  }

  .flight-details {
    margin-bottom: 20px;
  }

  .passenger-details {
    margin-bottom: 20px;
  }

  .fare-summary {
    margin-bottom: 20px;
  }

  .pay-now-btn {
    margin-top: 20px;
  }


  .mess{
    position: absolute;
    top: 12%;
    left: 51%;
  }



  .bg-cust{
    background-color: #c3e9f4;
    padding: 18%;
  }