<form class="border container p-2">
    <div class="mb-3">
        <label class="form-label" for="StartDate">Start DateTime</label>
        <input class="form-control" type="datetime-local" name="" id="">
    </div>

    <div class="mb-3">
        <label class="form-label" for="endDate">End DateTime</label>
        <input class="form-control" type="datetime-local" name="" id="">
    </div>
    <label class="form-label" for="from">From</label>

    <div class="mb-3">
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
    </div>
</form>