<div class="container mt-5 ">
    <div class="row ">
        <div class=" col-md-4 d-flex justify-content-center ">
            <div class="card h-fit  p-5 shadow">
              <div class="">
                <div>

                  <img src="https://newprofilepic2.photo-cdn.net//assets/images/article/profile.jpg" class="card-img-top rounded"
                  alt="Card Image  ">
                  <button class=" position-absolute border top-50 end-1 translate-middle bg-secondary rounded-circle p-2"><i class="fa-solid fa-pen" style="color: #ffffff;"></i></button>
                </div>
              </div>
                <div class="card-body">
              
                    <h5 class="card-title">Vertical Card</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex align-items-center">
                          <i class="fa-regular fa-user" style="color: #81868d;"></i>
                            <a href="#">Profile</a>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                          <i class="fa-sharp fa-solid fa-arrow-right-to-bracket" style="color: #89898b;"></i>
                            <a href="#">Login Details</a>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                          <i class="fa-solid fa-users" style="color: #959697;"></i>
                            <a href="#">Save Travellers</a>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                          
                            <a href="#" class="mx-auto fs-4 text-danger">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-header  bg-white d-flex justify-content-between align-items-center">
                          <div>

                            <p class="card-title fs-2">Profile</p>
                            <p class="card-subtitle mb-2 fs-4">Basic info, for a faster booking experience</p>
                          </div>
                            <button data-bs-toggle="modal" data-bs-target="#profileEdit" class="btn  border border-2 px-3 rounded-pill fs-5   btn-sm text-csblue"><i class="fa-solid fa-pen" ></i> Edit</button>
                          </div>
                          <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#profileEdit">
                                <span class="text-uppercase">Name:</span>
                                <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Add</button>
                            </div>
                            <hr>
                            <div class="mb-3 d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#profileEdit">
                                <span class="text-uppercase">Gender:</span>
                                <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Add</button>
                            </div>
                            <hr>
                            <div class="mb-3 d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#profileEdit">
                                <span class="text-uppercase">Address:</span>
                                <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Add</button>
                            </div>
                            <hr>
                            <div class="mb-3 d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#profileEdit">
                                <span class="text-uppercase">Pincode:</span>
                                <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Add</button>
                            </div>
                            <hr>
                            <div class="mb-3 d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#profileEdit">
                                <span class="text-uppercase">State:</span>
                                <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-12 mt-3">
                            <div class="card card-horizontal">
                                <div class="card-header">
                                    <h5 class="card-title">Login Details</h5>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle">Manage your email address, mobile number, and password
                                    </h6>
                                    <div class="mb-3 d-flex justify-content-between">
                                        <span>Mobile Number:</span>
                                        <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Add your mobile number</button>
                                    </div>
                                    <div class="mb-3 d-flex justify-content-between">
                                        <span>Email ID:</span>
                                        <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Add your Email address</button>
                                    </div>
                                    <div class="mb-3 d-flex justify-content-between">
                                        <span>Password:</span>
                                        <button class="btn btn-outline-primary btn-sm ms-2 border-0">+ Change Password?</button>
                                    </div>
                                </div>
                            </div>

                          </div>
                          
                          <div class="col-md-12 mt-3">
                              <div class="card card-horizontal ">
                                  <div class="card-header d-flex justify-content-between">
                                    <div>

                                      <h5 class="card-title">Save Traveller(s)</h5>
                                      <h6 class="card-subtitle">You have 0 Traveller(s)</h6>
                                    </div>
                                      <button data-bs-toggle="modal" data-bs-target="#profileEdit" class="btn  border border-2 px-3 rounded-pill fs-5   btn-sm text-csblue"><i class="fa-solid fa-pen" ></i> Add Traveller</button>
                                    </div>
                                    <div class="card-body">

                                      
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </div></div>
   


<!-- app.component.html -->




 <button type="button" class="btn btn-primary btn-lg" >
  Launch
</button>


<div class="modal fade" id="profileEdit" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md rounded" role="document">
        <div class="modal-content ">
          <div class="modal-header border-0">
            <h2>Edit Profile</h2>
 
    </div>
            <div class="modal-body m-2">
                
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-4">
                      <label for=" fullName"><small class="h6">Full Name</small><small class="text-danger">*</small></label>
                      <input type="text" class="form-control" id="fullName">
                    </div>
                    <div class="mb-4">
                      <label for=" birthday"><p class="h6">Birthday</p></label>
                      <input type="text" class="form-control" id="birthday">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-4">
                      <label for=" gender"><p class="h6">Gender</p></label>
                      <input type="text" class="form-control" id="gender">
                    </div>
                    <div class="mb-4">
                      <label for=" address"><p class="h6">Your Address</p></label>
                      <input type="text" class="form-control" id="address">
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="pincode"><p class="h6">Pincode</p></label>
                      <input type="text" class="form-control" id="pincode">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="state"><p class="h6">State</p></label>
                      <select class="form-select" id="state">
                        <option value="">Select State</option>
                        
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="text-end m-2">
                  <button type="button" class="btn  me-2  fs-5" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary  px-4 fs-5">Save</button>
                </div>
              </div>
        </div>
    </div>
</div> 





<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
  Launch
</button>

<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <a href="#basicInfoSection" class="btn btn-primary">Basic Info</a>
          <a href="#passportSection" class="btn btn-primary">Passport</a>
            </div>
          
          <div class="modal-body">
        
            <div class="mb-3">
            </div>
          
           
            <div id="basicInfoSection">
              <h4>Edit Profile - Basic Info</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" id="fullName">
                  </div>
                  <div class="mb-3">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control" id="gender">
                  </div>
                  <div class="mb-3">
                    <label for="address">Your Address</label>
                    <input type="text" class="form-control" id="address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="pincode">Pincode</label>
                    <input type="text" class="form-control" id="pincode">
                  </div>
                  <div class="mb-3">
                    <label for="state">State</label>
                    <select class="form-select" id="state">
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <option value="option3">Option 3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          
           
            <div id="passportSection" >
              <h4>Edit Profile - Passport</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="passportNumber">Passport Number</label>
                    <input type="text" class="form-control" id="passportNumber">
                  </div>
                  <div class="mb-3">
                    <label for="issuingCountry">Issuing Country</label>
                    <input type="text" class="form-control" id="issuingCountry">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="expiryDate">Expiry Date</label>
                    <input type="date" class="form-control" id="expiryDate">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
          
  
        </div>
    </div>
</div> 
