<app-navbar></app-navbar>

<h1>all trips{{trips|json}}</h1>

<!-- <div class="container">
    <h1>Flights</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Flight 1</h5>
            <p class="card-text">
              PRN No.: 202307241135035
              <br>From: 2
              <br>To: 1
              <br>Date: 2023-07-24T11:35:05.59
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Passenger:</strong> Pradumna Vaijnath Shelage
                <br>Gender: Male
                <br>Seat: 11B
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Flight 2</h5>
            <p class="card-text">
              PRN No.: 202307241140528
              <br>From: 2
              <br>To: 1
              <br>Date: 2023-07-24T11:40:52.663
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Passenger:</strong> Aman Rajput
                <br>Gender: Male
                <br>Seat: 12B
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->