.flight-card{
  width:805px;
  height: fit-content;
  
  border-radius: 20px;
  overflow:hidden;
box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  .flight-card-header{
    height: fit-content;
    width: 100%;
    background: linear-gradient(to bottom, #264b76 0%,#002c5f 100%);
    padding: 15px 25px;
    border-bottom: 7px solid #6DBE47;
    position: relative;
    .flight-logo{
      height: 110px;
      width:100%;
        img{
          width: 150px;
        }
    }
    .flight-data{
      height:auto;
      border-top: 2px solid #3E5177;
      padding-top: 1em;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      text-align: left;
      span{
        display:block;
      }
      .title{
          color: #838EA8;
        font-size: 16px;
        }
      .detail{
        font-size: 18px;
        padding-top: 3px;
        color: white;
      }
     
    }
  }
  
  
  .flight-card-content{
    width: 100%;
    height: auto;
    display: inline-block;
    .flight-row{
      width: 100%;
      padding: 9px 74px;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      .plane{
        text-align: center;
        position: relative;
        img{
        width: 40px;
        }
        &:before{
          content: '';
  width: 135px;
  height: 3px;
  background: #efefef;
  position: absolute;
  top: 20px;
  left: -75px;
        }
        &:after{
          content: '';
          width: 135px;
          height: 3px;
          background-color: #efefef;
          position:absolute;
          top: 20px;
          right: -75px;
          
        }
        }
      }
    .flight-from{
      text-align: left;
      float:left;
    }
    .flight-to{
      text-align: right;
      float:right;
    }
      .flight-from,.flight-to{
        span{
          display:block;
        }
        .from-code, .to-code{
          font-size: 30px;
          color: #002C5F;
          font-weight:200;
        }
        .from-city, .to-city{
            font-size: 18px;
          color: #002C5F;
          font-weight:400;
        }
      }
    .flight-details-row{
      width:100%;
      display:grid;
      padding: 6px 50px;
      grid-template-columns: 1fr 1fr 1fr; 
      span{
        display:block;
      }
      .title{
          color:#6a8597;
        font-size:16px;
        letter-spacing: 3px;
       }
      .detail{
        margin-top:.2em;
        color:#002C5F;
        font-size:18px;
      }
      .flight-operator{
        text-align:left;
        float:left;
      }
      .flight-class{
        float:right;
        text-align:right;
      }
      .flight-number{
        padding-left:80px;
      }
    }
    }
  }
  


  .flight-card:hover{
    border-left: 3px rgb(250, 152, 60) solid;
 cursor: pointer;
  }
  .header1{
    background-image: linear-gradient(261deg,#7dbfcc,#5ee7cd);
    min-height: 150px;
  }

  .option>p:hover{
    
    border-bottom: 3px rgb(36, 220, 234) solid;
 cursor: pointer;
  }