<app-navbar></app-navbar>

<div class="  ">

  <div class="header1 d-flex  ">
<p class="h5 text-secondary my-2">My Account -
  My Trips</p>
  </div>
  <div class="  option d-flex justify-content-evenly rounded  container bg-white p-4 shadow">
    
    <p (click)="filter(1)" [ngClass]="{'newClass px-4 p-1': flag==1}" class="h5 text-secondary">UPCOMING</p>
    <p (click)="filter(2)" [ngClass]="{'newClass px-4 p-1': flag==2}" class="h5 text-secondary">COMPLETED</p>
    <p (click)="filter(3)" [ngClass]="{'newClass px-4 p-1': flag==3}" class="h5 text-secondary">All TRIPS</p>
  </div>
  <div class=" w-100 d-flex mt-3 flex-column gap-2"> 

 
  <ng-container *ngFor="let t of newTrips" >
  
  
  <div  (click)="tripDetail(t.prnNo)" class="flight-card bg-white mx-auto ">
  
   <div class="flight-card-content">
     <div class="flight-row">
       <div class="flight-from">
         <span class="from-code">{{t.fromAirport}}</span>
         <!-- <span class="from-city">Tirane, Albania</span> -->
       </div>
       <div class="plane">
         <img src="https://cdn.onlinewebfonts.com/svg/img_537856.svg" alt="">
       </div>
       <div class="flight-to">
         <span class="to-code">{{t.toAirport}}</span>
         <!-- <span class="to-city">Munich, Germany</span> -->
       </div>
     </div>
     <div class="flight-details-row">
       <div class="flight-operator">
         <span class="title">PRN NUMBER</span>
         <span class="detail">{{t.prnNo}}</span>
       </div>
       <div class="flight-number">
         <span class="title">DATE</span>
         <span class="detail">{{t.date | date:'mediumDate'}}</span>
       </div>
       <div class="flight-class">
         <span class="title">{{"passengers"|uppercase}}</span>
         <span class="detail">{{t.passengers}}</span>
       </div>
     </div>
   </div>
  </div>
  </ng-container>
</div>
</div>



